@media screen {
    h1 {
        text-align: right;
        border-bottom: 3px dashed #00f;
        color: #008;
        background-color: inherit;
    }

}

@media print {
    h2, input[type=text], input[type=submit], button, p, .index, .not_needed, .searchWorker, .print_btn, .Bericht_tbl {
        display: none;
    }

    .signed, .header_print, .forPrint {
        display: block;
    }

    table {
        width: 100%;

    }

    td {

        text-align: center;
    }

    input[type=textarea] {
        page-break-inside: auto;
        width: 100%;
    }

    .entry:after {
        content: "Test";
        color: #999 !important;
        font-size: 1em;
        padding-top: 30px;
    }

    tr {
        page-break-inside: avoid;
    }

    p {
        color: black;

    }
    p, td{
        font-size: 1.1em;
    }
}



